<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
	  <span class='component-title'>[{{title}}]</span>
			<span><a routerLink='/user/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Create new user'></a>
			</span>
	  <span><a routerLink='/user/list'>Back to user list</a></span>		
</div>
<div>
<p *ngIf='!user'>Loading ...</p>

<div *ngIf='user'>
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for='userfirstname'>First name:</label>
		<input [(ngModel)]='user.FirstName' name='FirstName' type='text' class='form-control col-sm-6' id='userfirstname' aria-describedby='emailHelp' placeholder="First Name">
	</div>
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for='userlastname'>Last name:</label>
		<input [(ngModel)]='user.LastName' name='LastName' type='text' class='form-control col-sm-6' id='lastname' aria-describedby='lastnameHelp' placeholder="Last Name">
	</div>
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for=''>Username:</label>
		<input [(ngModel)]='user.UserName' name='UserName' type='text' class='form-control col-sm-6' id='username' aria-describedby='emailHelp' placeholder="Username">
	</div>	
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for=''>Password:</label>
		<input [(ngModel)]='user.Password' name='Password' type='text' class='form-control col-sm-6' id='password' aria-describedby='emailHelp' placeholder="Password">
	</div>	
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for=''>Phone number:</label>
		<input [(ngModel)]='user.Phone' name='Phone' type='text' class='form-control col-sm-6' id='phone' aria-describedby='emailHelp' placeholder="Phone number (xxx-xxx-xxxx)">
	</div>	
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for=''>Email:</label>
		<input [(ngModel)]='user.Email' name='Email' type='text' class='form-control col-sm-6' id='email' aria-describedby='emailHelp' placeholder="Email address">
	</div>				
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for='useradmin'>Admin:</label>
		<input [(ngModel)]='user.Admin' name='Admin' type='checkbox' class='form-control col-sm-6 inputcheckbox' id='useradmin' aria-describedby='emailHelp' placeholder="Admin">
	</div>
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for='userreviewer'>Reviewer:</label>
		<input [(ngModel)]='user.Reviewer' name='Admin' type='checkbox' class='form-control col-sm-6 inputcheckbox' id='userreviewer' aria-describedby='emailHelp' placeholder="Reviewer">
		</div>
	<div class='form-group row'>
		<label class='col-form-label col-sm-2' for='userreviewer'>Active:</label>
		<input [(ngModel)]='user.Active' name='Active' type='checkbox' class='form-control col-sm-6 inputcheckbox' id='useractive' aria-describedby='emailHelp' placeholder="Active">
	</div>
	<div class='form-group'>
		<button (click)='create()' class='btn btn-primary' title='Update'>Create User</button>
	</div>	
</div>
</div>
</div>


