<app-menu></app-menu>
<div class='component-content'>
	<div class=''>
		<div class='lefthalf'>
			<span class='component-title'>[{{title}}]</span>
<!-- 			<span><a routerLink='/user/create' *ngIf='SysSvc.data.user.instance.Admin'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Create new user'></a> -->
			<span><a routerLink='/user/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Create new user'></a>				
			</span>
		</div>
	<div class='righthalf input-group'>
	<span class=''>sort:</span>
	<select [(ngModel)]='selectedSortKey' class='custom-select text-sm-left'>
		<option *ngFor='let sortKey of sortKeys' value='{{sortKey}}'>{{sortKey}}</option>
	</select>		
	<span>Order:</span>
	<select [(ngModel)]='sortDesc' class='custom-select text-sm-left'>
		<option value='asc'>Asc</option>
		<option value='desc'>Desc</option>
	</select>
	</div>
</div>
<div>
<p *ngIf='!users'>The data is loading....</p>
<table class="table table-sm table-striped" *ngIf='users'>
	<tr>
		<th>ID</th>
		<th>UserName</th>
	<!-- 	<th>Password</th> -->
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
<!-- 		<th>Is Admin?</th>
		<th>Is Reviewer?</th> -->
		<th>Priv</th>
		<th>Action</th>
	</tr>
	<tr *ngFor='let user of users | sort:selectedSortKey:sortDesc'>
		<td>{{user.Id}}</td>
		<td>{{user.UserName}}</td>
<!-- 		<td>*************</td> -->
		<td>{{user.FirstName}} {{user.LastName}}</td>
		<td>{{user.Phone}}</td>
		<td>{{user.Email}}</td>
		<td>
			{{user.Admin ? "Admin" : ""}} {{user.Reviewer ? "Rev" : ""}}
			{{user.Active ? "Act" : ""}}</td>
<!-- 		<td>{{user.Admin ? "YES" : "NO"}}</td>
		<td>{{user.Reviewer ? "YES" : "NO"}}</td> -->
		<td class='actions'>
		 <a routerLink='/user/detail/{{user.Id}}'><img src='assets/details.png' title='Details'></a>
		 <a routerLink='/user/edit/{{user.Id}}'><img src='assets/edit.png' title='Edit'></a>
		</td>	
	</tr>		
</table>
</div>	