<app-menu></app-menu>
<div class='component-content'>
	<div class=''>
		<div>
			<span class='component-title'>[{{title}}]</span>
<!-- 			<span><a routerLink='/purchaserequestlineitem/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Add a new line item'></a>
			</span> -->
		</div>
</div>	
<div>
<p *ngIf='!purchaserequest'>The data is loading....</p>
<table class="table table-sm table-striped">
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Description</th>
		<th>Total</th>
	</tr>
	<tr *ngIf='purchaserequest' >
		<td>{{purchaserequest.Id}}</td>
		<td>{{purchaserequest.StatusID}}</td>
		<td>{{purchaserequest.Description}}</td>
		<td>{{purchaserequest.Total | currency}}</td>
<!-- 		<td class='actions'>
		 <a routerLink='/purchaserequestlineitem/detail/{{purchaserequest.Id}}'><img src='assets/details.png' title='Details'></a>
		 <a routerLink='/purchaserequestlineitem/edit/{{purchaserequest.Id}}'><img src='assets/edit.png' title='Edit'></a>
		<a routerLink='/purchaserequestlineitem/list/{{purchaserequest.Id}}'><img src='assets/lines.png' title='Add line items'></a>
		</td>	 --> 
	</tr>		
</table>
<p></p>
<!-- <p *ngIf='!purchaserequest'>The data is loading....</p> -->
<div class='component-content'>
	<div class=''>
		<div>
			<span class='component-title'>[{{title2}}]</span>
			<span><a routerLink='/purchaserequestlineitem/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Add a new line item'></a>
			</span>
		</div>
</div>	
<div>
<table class="table table-sm table-striped">
	<tr>
		<th>ID</th>
		<th>Product ID</th>
		<th>Quantity</th>
		<th>Subtotal</th>
	</tr>
<!-- 	<tr *ngFor='let prli of prlis' value='{{prli}}'> -->
	<tr *ngFor='let prli of prlis'>		
		<td>{{prli.Id}}</td>
		<td>{{prli.ProductID}}</td>
		<td>{{prli.Quantity}}</td>
		<td>                 </td>
		<td class='actions'>
		 <a routerLink='/purchaserequestlineitem/detail/{{prli.Id}}/{{purchaserequest.Id}}'><img src='assets/details.png' title='Details'></a>
<!-- 		 <a routerLink='/purchaserequestlineitem/edit/{{purchaserequest.Id}}'><img src='assets/edit.png' title='Edit'></a> -->
<!-- 		<a routerLink='/purchaserequestlineitem/list/{{purchaserequest.Id}}'><img src='assets/lines.png' title='Add line items'></a> -->
		</td>
	</tr>		
</table>

</div>	

