<app-menu></app-menu>
<div class='component-content'>
	<div class=''>
		<div class='lefthalf'>
			<span class='component-title'>[{{title}}]</span>
			<span><a routerLink='/product/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Add a new product'></a>
			</span>
		</div>
	<div class='righthalf input-group'>
	<span class=''>sort:</span>
	<select [(ngModel)]='selectedSortKey' class='custom-select text-sm-left'>
		<option *ngFor='let sortKey of sortKeys' value='{{sortKey}}'>{{sortKey}}</option>
	</select>		
	<span>Order:</span>
	<select [(ngModel)]='sortDesc' class='custom-select text-sm-left'>
		<option value='asc'>Asc</option>
		<option value='desc'>Desc</option>
	</select>
	</div>
</div>	
<div>
<p *ngIf='!products'>The data is loading....</p>
<table class="table table-sm table-striped" *ngIf='products'>
	<tr>
		<th>ID</th>
		<th>Vendor ID</th>
		<th>Part Number</th>
		<th>Name</th>
		<th>Price</th>
		<th>Unit</th>
		<th>PhotoPath</th>
	</tr>
	<tr *ngFor='let product of products | sort:selectedSortKey:sortDesc'>
		<td>{{product.Id}}</td>
		<td>{{product.VendorID}}</td>
		<td>{{product.PartNumber}}</td>
		<td>{{product.Name}}</td>
		<td>${{product.Price}}</td>
		<td>{{product.Unit}}</td>		
		<td>{{product.PhotoPath}}</td>
		<td class='actions'>
		 <a routerLink='/product/detail/{{product.Id}}'><img src='assets/details.png' title='Details'></a>
		 <a routerLink='/product/edit/{{product.Id}}'><img src='assets/edit.png' title='Edit'></a>
		</td>	
	</tr>		
</table>
</div>	
