<app-menu></app-menu>
<div class='component-content'>
	<div class=''>
		<div class='lefthalf'>
			<span class='component-title'>[{{title}}]</span>
			<span><a routerLink='/user/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Create new user'></a>
			</span>
	  		<span><a routerLink='/user/list'>Back to user list</a></span>		
		</div>
<div>		
<table *ngIf='user' class="table table-sm">
	<tr>ID:<td>{{user.Id}}</td></tr>
	<tr>Name:<td>{{user.FirstName}} {{user.LastName}}</td></tr>
	<tr>UserName:<td>{{user.UserName}}</td></tr>
	<tr>Password:<td>{{user.Password}}</td></tr>
	<tr>Phone:<td>{{user.Phone}}</td></tr>
	<tr>Email:<td>{{user.Email}}</td></tr>
	<tr>Admin?:<td>{{user.Admin ? "YES" : "NO"}}</td></tr>
	<tr>Reviewer?:<td>{{user.Reviewer ? "YES" : "NO"}}</td></tr>
	<tr>Active?:<td>{{user.Active ? "YES" : "NO"}}</td></tr>
<!-- 		<td>class='actions'>
		 <a routerLink='/user/detail/{{user.Id}}'><img src='assets/details.png' title='Details'></a>
		 <a routerLink='/user/edit/{{user.Id}}'><img src='assets/edit.png' title='Edit'></a>
		</td>	 -->
	<tr><td colspan="2">
		<a routerLink='/user/edit/{{user.Id}}' class='btn btn-primary' title='Edit'>Edit</a>
		<button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
	</td></tr>			
</table>		
</div>