<form>
    <table *ngIf='user' style="margin: auto;" style='align-content: center;   border:1px;'>      
        <tr><td>Username:</td><td>   
        <input [(ngModel)]='user.UserName' type="text" name="username" placeholder="Username"> </td></tr>
        <tr><td>Password:</td><td>    
        <input [(ngModel)]='user.Password' type="password" name="password" placeholder="Password"> </td></tr>
       <td class='text-center' colspan="2"><button type='submit' (click)="login()" class='btn btn-primary'>SUBMIT</button></td>
       	<tr><td colspan="2"><label class='text-sm-left'>{{message}}</label></td></tr>
    </table>      
</form>


