<app-menu></app-menu>
<div class='component-content'>
	<div class=''>
		<div class='lefthalf'>
			<span class='component-title'>[{{title}}]</span>
			<span><a routerLink='/purchaserequest/create'><img id='createnew' width='20'
				height="20" src='assets/add-new.png' title='Add a new purchaserequest'></a>
			</span>
		</div>
	<div class='righthalf input-group'>
	<span class=''>sort:</span>
	<select [(ngModel)]='selectedSortKey' class='custom-select text-sm-left'>
		<option *ngFor='let sortKey of sortKeys' value='{{sortKey}}'>{{sortKey}}</option>
	</select>		
	<span>Order:</span>
	<select [(ngModel)]='sortDesc' class='custom-select text-sm-left'>
		<option value='asc'>Asc</option>
		<option value='desc'>Desc</option>
	</select>
	</div>
</div>	
<div>
<p *ngIf='!purchaserequests'>The data is loading....</p>
<table class="table table-sm table-striped" *ngIf='purchaserequests'>
	<tr>
		<th style='text-align: center'>ID</th>
		<th style='text-align: center'>Status</th>
		<th>User</th>
		<th>Description</th>
		<th>Justification</th>
		<th>Date Needed</th>
		<th>Submitted Date</th>		
		<th>Total</th>
	</tr>
	<tr *ngFor='let purchaserequest of purchaserequests | sort:selectedSortKey:sortDesc'>
		<td style='text-align: center'>{{purchaserequest.Id}}</td>
		<td style='text-align: center'>{{purchaserequest.StatusID}}</td>
		<td>{{purchaserequest.UserLastName}}</td>
		<td>{{purchaserequest.Description}}</td>
		<td>{{purchaserequest.Justification}}</td>
		<td>{{purchaserequest.DateNeeded | date}}</td>		
		<td>{{purchaserequest.SubmittedDate | date}}</td>
		<td>{{purchaserequest.Total}}</td>
		<td class='actions'>
		 <a routerLink='/purchaserequest/detail/{{purchaserequest.Id}}'><img src='assets/details.png' title='Details'></a>
		 <a routerLink='/purchaserequest/edit/{{purchaserequest.Id}}'><img src='assets/edit.png' title='Edit'></a>
		<a routerLink='/purchaserequestlineitem/list/{{purchaserequest.Id}}'><img src='assets/lines.png' title='Add line items'></a>
		</td>	 
	</tr>		
</table>
</div>	

