/* You can add global styles to this file, and also import other style files */
.actions img {

}

.inputcheckbox {
	height: 2em;
}


#createnew {
	vertical-align: text-top;
}

.lefthalf {
	display: inline-block;
	width: 49%;
}

.righthalf{
	display: inline-block;
	width: 49%;
	text-align: right;
}

.select-list {
	padding: 0;
}
